p {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
map > area {
  outline: none;
}
.ts0 {
  font-family: Tahoma;
}
.ts1 {
  font-family: Tahoma;
}
.ts2 {
  font-family: 'Trebuchet MS';
  font-size: 18pt;
  font-weight: bold;
}
.ts3 {
  font-family: 'Trebuchet MS';
  font-size: 18pt;
  font-weight: bold;
  color: White;
}
.ts4 {
  font-family: 'Trebuchet MS';
  color: Black;
}
.ts5 {
  font-family: Tahoma;
  color: Gray;
  background-color: White;
}
.ts6 {
  font-family: 'Trebuchet MS';
  font-size: 14pt;
  color: White;
}
.ts7 {
  font-weight: bold;
  color: White;
}
.ts8 {
  font-family: 'Trebuchet MS';
  font-size: 14pt;
  font-weight: bold;
  color: White;
}
.ts9 {
  font-family: 'Trebuchet MS';
  color: White;
}
.ts10 {
  font-family: 'Trebuchet MS';
}
.ts11 {
  font-family: 'Trebuchet MS';
  font-weight: bold;
  color: White;
}
.ts12 {
  color: White;
}
.ts13 {
  font-family: Verdana;
  font-weight: bold;
  color: White;
}
.ts14 {
  font-family: Verdana;
}
.ts15 {
  font-family: Tahoma;
}
.ts16 {
  font-weight: bold;
}
.ts17 {
  font-family: 'Trebuchet MS';
  font-size: 14pt;
  font-weight: bold;
  font-style: italic;
  color: White;
}
.ts18 {
  font-family: Tahoma;
  font-size: 16pt;
  font-weight: bold;
  color: White;
}
.ts19 {
  font-family: 'Trebuchet MS';
  font-style: italic;
  color: White;
}
.ts20 {
  font-family: 'Trebuchet MS';
  font-size: 14pt;
}
.ts21 {
  font-family: 'Trebuchet MS';
  font-weight: bold;
  font-style: italic;
  color: White;
}
.ts22 {
  font-family: 'Courier New';
  color: White;
}
.ts23 {
  font-family: Tahoma;
  font-size: 16pt;
  font-weight: bold;
}
.ts24 {
  font-family: 'Trebuchet MS';
  font-weight: bold;
}
.ts25 {
  font-family: 'Trebuchet MS';
  font-size: 12pt;
  color: White;
}
.ts26 {
  font-family: 'Trebuchet MS';
  color: White;
}
.ts27 {
  font-family: 'Trebuchet MS';
  color: White;
}
.ts28 {
  font-family: 'Trebuchet MS';
  font-weight: bold;
  text-decoration: underline;
  color: White;
}
.ts29 {
  font-family: 'Trebuchet MS';
  text-decoration: underline;
  color: White;
}
.ts30 {
  font-family: 'Trebuchet MS';
  font-size: 20pt;
  color: White;
}
.ts31 {
  font-family: 'Trebuchet MS';
  font-weight: bold;
}
.ts32 {
  font-family: 'Trebuchet MS';
  font-weight: bold;
  color: White;
  background-color: #070c12;
}
.ts33 {
  font-family: Gungsuh;
  font-weight: bold;
  color: Black;
}
.hs0 {
  font-family: Tahoma;
  text-decoration: underline;
  color: Gray;
  background-color: White;
}
.ps0 {
  text-align: center;
  font-size: 11pt;
}
.ps1 {
  text-align: center;
}
.ps2 {
  text-align: right;
}
.ps3 {
  padding-right: 77.25pt;
  text-align: right;
}
.ps4 {
  text-align: center;
  font-size: 10pt;
}
.ps5 {
  text-align: justify;
}
.ps6 {
  padding-top: 5px;
}
.ps7 {
  padding-top: 5px;
  font-size: 10pt;
}
.ps8 {
  text-align: right;
  font-size: 8pt;
}
.ps9 {
  font-size: 4pt;
}
.ps10 {
  text-align: center;
  font-size: 8pt;
}
.ps11 {
  font-size: 11pt;
}
.ps12 {
  padding-left: 36pt;
}
.ps13 {
  padding-right: 36pt;
  padding-left: 36pt;
}
.ps14 {
  padding-right: 113.25pt;
  text-align: right;
}
.ps15 {
  padding-right: 36pt;
  padding-left: 36pt;
  text-align: justify;
}
.ps16 {
  padding-left: 36pt;
  text-indent: -36pt;
  text-align: justify;
}
.ps17 {
  padding-left: 36pt;
  text-indent: -36pt;
}
.ps18 {
  padding-right: 77.25pt;
  padding-left: 72pt;
  text-align: justify;
}
.ps19 {
  padding-right: 58.5pt;
  padding-left: 35.25pt;
  text-align: justify;
}
.ps20 {
  padding-right: 44.25pt;
  padding-left: 35.25pt;
  text-align: justify;
}
.ps21 {
  text-align: justify;
  font-size: 8pt;
}
.ps22 {
  text-align: justify;
  font-size: 11pt;
}
.ps23 {
  padding-right: 77.25pt;
  padding-left: 135pt;
  text-indent: -63pt;
}
.ps24 {
  padding-right: 77.25pt;
  padding-left: 135pt;
  text-indent: -63pt;
  text-align: justify;
}
.ps25 {
  padding-bottom: 10pt;
  text-align: justify;
  line-height: 1.1375;
}
.ps26 {
  text-align: center;
  line-height: 0.15in;
  font-size: 10pt;
}
.ps27 {
  font-size: 10pt;
}
.block0 {
  padding: 0 0 6px 0;
}
.hline0 {
  width: 100%;
  height: 1px;
  margin: 8px auto;
  background-color: Silver;
  border-style: none;
}
.hline1 {
  width: 100%;
  height: 0px;
  margin: 8px auto;
  border-style: solid;
  border-width: 1px;
  border-top-color: DimGray;
  border-right-color: #e3e3e3;
  border-bottom-color: #e3e3e3;
  border-left-color: DimGray;
}
.tbl0 {
  border-collapse: collapse;
  border-style: none;
}
.tbl0 > tbody > tr.row0 {
  border-style: none;
}
.tbl0 > tbody > tr > td.cell0 {
  width: 70px;
  vertical-align: middle;
  border-style: none;
}
.tbl0 > tbody > tr > td.cell1 {
  width: 740px;
  vertical-align: top;
  border-style: none;
}
.tbl0 > tbody > tr > td.cell2 {
  width: 288px;
  vertical-align: middle;
  border-style: none;
}
.tbl1 {
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr.row0 {
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell0 {
  width: 12.93in;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}